body {
  font-family: "Poppins";
  background-color: #444a4c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

main {
  background-color: white;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.grid-3-columns {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
  margin: 30px 0;
  text-align: center;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #996744;
  text-decoration: none;
}

main .grid {
  grid-template-columns: 1fr 1fr;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: black;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer ul,
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
}

footer a {
  opacity: 0.7;
  color: white;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: gray;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

.img-res {
  width: 100%;
  aspect-ratio: 1/1;
}
.main-img {
  aspect-ratio: 3/2;
  margin-top: 150px;
}

.cafes-section {
  background-color: #f8f8f8;
}

.text-center {
  text-align: center;
  margin-bottom: 50px;
}

.grid-cafe-maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.grid-instagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .text-center {
    margin-bottom: 20px;
  }
  p,
  ul,
  h4 {
    text-align: center;
  }
  main .grid,
  .grid,
  .grid-3-columns,
  .grid-cafe-maps,
  .grid-instagram {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .main-img {
    margin-top: 10px;
  }
  section {
    padding: 30px;
  }
  .img-res {
    margin-top: 0;
  }
  .cafes-section .img-res {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}
